# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnpm
.pnp
.pnp.js
.yarn/install-state.gz

# Production artifacts
/build
/dist

# Next.js build artifacts
/.next/
/out/

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.npm

# Local env files
.env*.local
.env

# IDE files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Editor directories and files
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace 